@import "tailwindcss";

:root {
  --background: var(--color-white);
  --foreground: var(--color-zinc-800);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-zinc-900);
    --foreground: var(--color-zinc-200);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* rehype-pretty-code - 코드 블록 */
figure[data-rehype-pretty-code-figure] {
  margin: 2rem 0;
}

figure[data-rehype-pretty-code-figure] pre {
  padding: 1.25rem;
  border-radius: 0.375rem;
  background-color: white;
  border: 1px solid var(--color-zinc-200);
}

figure[data-rehype-pretty-code-figure] code {
  font-size: 0.875rem;
}

figcaption[data-rehype-pretty-code-title] {
  padding: 0.75rem 1.25rem;
  font-size: 0.75rem;
  background-color: white;
  color: var(--shiki-light);
  border-radius: 0.375rem 0.375rem 0 0;
  border: 1px solid var(--color-zinc-200);
  border-bottom: none;
}

figure[data-rehype-pretty-code-figure]:has(figcaption) pre {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: none;
}

code[data-theme*=" "],
code[data-theme*=" "] span {
  color: var(--shiki-light);
  background-color: transparent;
}

@media (prefers-color-scheme: dark) {
  figure[data-rehype-pretty-code-figure] pre {
    background-color: var(--color-zinc-800);
    border: none;
  }

  figcaption[data-rehype-pretty-code-title] {
    background-color: var(--color-zinc-800);
    color: var(--color-zinc-200);
    border: none;
  }

  code[data-theme*=" "],
  code[data-theme*=" "] span {
    color: var(--shiki-dark);
  }
}

/* 인라인 코드 */

:not(pre) > code,
:not(pre) > code span {
  background-color: var(--color-zinc-100) !important;
  color: var(--color-violet-500) !important;
}

:not(pre) > code {
  padding: 0.2em 0.4em;
  font-size: 0.9em;
  font-family: var(--font-mono);
  margin: 0 0.1em;
}

@media (prefers-color-scheme: dark) {
  :not(pre) > code,
  :not(pre) > code span {
    background-color: var(--color-zinc-800) !important;
    color: var(--color-violet-300) !important;
  }
}
