@import "tailwindcss";

:root {
  --background: var(--color-white);
  --foreground: var(--color-zinc-800);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

body::selection {
  @apply dark:bg-violet-dark bg-violet-100;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-zinc-900);
    --foreground: var(--color-zinc-200);
  }
}

/* ============================================
유틸리티 클래스
============================================ */

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-violet-dark: #242440;
  --color-violet-light: #cba6f7;
  --color-light-bg: #fbfcfd;
}

.hover-violet {
  @apply hover:text-violet-600 dark:hover:text-violet-light transition-colors;
}

.group-hover-violet {
  @apply group-hover:text-violet-600 dark:group-hover:text-violet-light transition-colors;
}

.badge-violet {
  @apply text-violet-700 bg-violet-50 dark:text-violet-light dark:bg-violet-dark;
}

.badge-hover {
  @apply hover:bg-violet-100 hover:text-violet-800 transition-colors cursor-pointer dark:hover:bg-violet-dark/60 dark:hover:text-violet-light;
}

/* ============================================
rehype-pretty-code: 코드 블록 스타일
============================================ */

/* 코드 블록 컨테이너 */
figure[data-rehype-pretty-code-figure] {
  @apply my-8;
}

figure[data-rehype-pretty-code-figure] pre {
  @apply p-5 rounded-md bg-light-bg border border-zinc-200 overflow-x-auto;
}

@media (prefers-color-scheme: dark) {
  figure[data-rehype-pretty-code-figure] pre {
    @apply border-none;
    background-color: var(--shiki-dark-bg);
  }
}

figure[data-rehype-pretty-code-figure] code {
  @apply text-sm;
}

figure[data-rehype-pretty-code-figure]:has(figcaption) pre {
  @apply rounded-t-none border-t-0;
}

/* 코드 블록 제목 */
figcaption[data-rehype-pretty-code-title] {
  @apply px-5 py-3 text-xs bg-light-bg rounded-t-md border border-zinc-200 border-b-0;
  color: var(--shiki-light);
}

@media (prefers-color-scheme: dark) {
  figcaption[data-rehype-pretty-code-title] {
    @apply border-none;
    background-color: var(--shiki-dark-bg);
  }
}

/* 코드 테마 */
code[data-theme*=" "],
code[data-theme*=" "] span {
  @apply bg-transparent;
  color: var(--shiki-light);
}

@media (prefers-color-scheme: dark) {
  code[data-theme*=" "],
  code[data-theme*=" "] span {
    color: var(--shiki-dark);
  }
}

/* ============================================
인라인 코드 스타일
============================================ */
:not(pre) > code {
  @apply px-1.5 py-0.5 mx-0.5 text-sm tracking-wide bg-zinc-100! text-violet-500!;
  font-family: var(--font-mono);
}

:not(pre) > code span {
  @apply bg-zinc-100! text-violet-500!;
}

@media (prefers-color-scheme: dark) {
  :not(pre) > code {
    @apply bg-violet-dark! text-violet-light!;
  }

  :not(pre) > code span {
    @apply bg-violet-dark! text-violet-light!;
  }
}
